<ion-header [translucent]="true" class="titulo">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!--formulario-->
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="text" [(ngModel)]="password"></ion-input>
  </ion-item>
  <div class="botonLogin">
  <ion-button (click)="login()">Login</ion-button>
</div>
  <div class="botonRegresar">
    <ion-button routerLink="/home">Regresar</ion-button>
  </div>
</ion-card>
</ion-content>
