<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">Realice su pedido directamente a AWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="formulario">
  <ion-input type="text" label="Nombre del producto" label-placement="floating" fill="outline" [(ngModel)]="nombrePedido"></ion-input>
  <ion-input type="text" label="Cantidad" label-placement="floating" fill="outline" [(ngModel)]="cantidadObjeto"></ion-input>
  <ion-input type="text" label="Email" label-placement="floating" fill="outline" [(ngModel)]="email"></ion-input>
  <ion-button expand="block" (click)="postPedido()">Agregar pedido</ion-button>
  <ion-button expand="block" routerLink="/home">Regresar</ion-button>
</ion-card>
</ion-content>

