<ion-header [translucent]="true" class="cabecera">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="centro">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="titulo">Retail Off</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="../assets/img/retailLogo.png" class="imagen">
    </ion-card-content>


    <ion-card-content>
      <br>
      <h2 class="texto1">Inicia sesion aquí</h2>
      <div class="boton">
      <ion-button routerLink="/login">Iniciar sesion</ion-button>
    </div>
    </ion-card-content>

    <ion-card-content>
      <br>
      <h2 class="texto1">¿Quieres registrarte?</h2>
      <div class="boton">
      <ion-button routerLink="/register">Presiona aquí</ion-button>
    </div>
    </ion-card-content>

  </ion-card>
</ion-content>
